<div class="tweets-section">

<div>
 <div>
  
 </div>
<div id="tweets-container">
     <% @tweets.each do |tweet| %>
      <div class="post__container container d-flex justify-content-center align-items-center flex-column">
        <div class="user__post card" style="width: 35rem;">
          <div class="post__info m-4 pr-4">
            <div class="container_user--name d-flex gap-2">
              <figure>
                <img class="img-fluid rounded-circle" src="<%= tweet.user.photo_url %>">
              </figure>
              <div class="user__name d-flex flex-column">
                <ins><%= tweet.user.name %></ins>
                <span class="text-primary">published: <%= tweet.created_at.strftime("%B %d, %Y %H:%M") %></span>
              </div>
            </div>

            <div class="post__content mt-2">
            <div class="post__description">
                <p><%= tweet.body %></p>
              </div>
              <img src="<%= tweet.photo_url %>" class="img-fluid">
              <div class="post__interaction">
                <ul class="d-flex">
                  <li><i class="fa-sharp fa-regular fa-comments" style="color: #3465a4; width: 35px; height: 35px"></i></li>
                  <li><i class="fas fa-heart" style="color: #cc0000;"></i></li>
                </ul>
              </div>
              
            </div>
          </div>
        </div>
        <div class="comment_area"> </div>
      </div>
    <% end %>
  </div>

   <%= will_paginate @tweets %>

  <div class="load-more">
    <a href="#" id="load-more-button">Cargar más tweets</a>
  </div>

</div>


  
</div>
